body {
    margin: 0;
}

.casino-background {
    background-image: url("/images/playingCardsBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 8px;
    height: 800px;
}

#player-hand {
    position: absolute;
    display: flex;
    background-color: rgba(255, 55, 55, 0.2);
    margin: auto;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}